<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Collect Machine Data</p>
    <a href="/idea/add" class="btn btn-dark btn-lg">Add Machie Data</a>
</div>