{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<div class="card card-body">
    <h3>Edit machine data</h3>
    <form method="POST" action="/ideas/{{id}}?_method=PUT" >
        <div class="form-group">
            <label for="title">Title</label> 
            <input type="text" class="form-control"  id="title" name="title" value="{{title}}" required>
            <!--
            1. id is used to refer by DOM and name is used to refer by submit data name, 
            2. for is for the label to refernce the id, if move te mouse over the label, the cursor will appear in the referred area
            3. </textarea> cannot have extra space or next line before, otherwise default unknow blank space will appear
            -->
        </div>
         <div class="form-group">
            <label for="details">Details</label> 
            <textarea class="form-control" id="details" name="details" required>{{details}}</textarea>
        </div>
        <input type="hidden" value={{user_id}} name="user_id" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>