{{#each ideas}}
<div class="card card-body mb-2">
    <h4>{{title}}</h4>
    <h4>{{_id}}</h4>
    <p>{{details}}</p>
    <!--a class="btn btn-dark btn-block mb-1" href="/ideas/edit/{{_id}}">Edit</a-->
    <form method="post" action="/ideas/edit/{{_id}}">
        <input type="hidden" value={{../user_id}} name="user_id" />
        <input type="submit" class="btn btn-dark btn-block mb-1" value="Edit">
    </form>
    <form method="post" action="/ideas/{{_id}}?_method=DELETE">
        <input type="hidden" value={{../user_id}} name="user_id" />
        <input type="submit" class="btn btn-danger btn-block" value="Delete">        
    </form>
</div>
{{else}}
<p>No machine data listed</p>
{{/each}}