<div class="row">
    <div class="col-md-6 mx-auto">
        <card class="card card-body">
            <img class="logo" src="/img/logo.png">
            <h3 class="text-center">Account Register</h3>
            <form action="/users/register" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" value="{{name}}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" value="{{email}}" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" value="{{password}}" required>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" class="form-control" name="password2" value="{{password2}}" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </card>
    </div>
</div>